div > h1 {
    font-family: 'Times New Roman', serif;
    color: rgb(168, 13, 124);
    text-align: center;
}
div > ul {
    list-style-type: square;
    padding: 0;
}
div > ul > li {
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    color: rgb(21, 72, 88);
    margin: 8px 0;
}
body {
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 20px;
}

div > .add-task {
    margin-top: 20px;
    text-align: center;
    color: rgb(238, 0, 255);
}
div > .add-task > input {
    padding: 8px;
    width: 200px;
    font-size: 16px;
    border: 2px solid wheat;
    border-radius: 4px;
}


